<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
   <!--
    <logger name="com.microcore.modules.xq.mapper" level="DEBUG"/>
    <logger name="com.microcore.modules.file.mapper" level="DEBUG"/>
    -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>console - %d{yyyy-MM-dd HH:mm:ss} {%thread} %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
</configuration>
